* {
    box-sizing: border-box;
}
.fondog{
    background-color: grey;
    color: white;
    background-size: cover;
}
h1{
    font-size: 50px;
}
h2{
    
    margin-left: 5%;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.logo{
    width: 50%;
    height: 50%;
}
.cuadrito{
    width: 50%;
    height: 50%;
    background-color: #CACFD2;
    border-radius: 5px;
    margin-top: 10%;
}
.boton{
    background-color: #1F618D;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
    margin-left: 5%;
    width: 90%;
}
    
ul {
    list-style-type: none;
    text-align: right;
}
li {
    padding: 8px;
    margin-bottom: 7px;
    display: inline-block;
}
input{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    border-radius: 5px;
}
[class*="col-"] {
    width: 100%;
}
@media screen and (min-width: 535px) and (max-height: 824px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
 }